.player-container {
  margin: auto;
  text-align: center;
}

#player {
  margin: auto;
  /* width: 840px !important; */
  /* height: 590px !important; */
}

.sidebar {
  width: 1140px !important;
}

@media (max-width: 762px) {
  #player {
    margin: 20px;
    width: calc(100% - 40px) !important;
    height: 390px !important;
  }

  .sidebar {
    width: 520px !important;
  }
  #player.left-side {    
    display: inline-block;
  }  
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: calc(100% - 40px) !important;
    margin-top: 20px;
  }
  .transcript {
    max-height: 150px;
  }
}

@media (min-width: 762px) and (max-width: 1168px) {
  #player {
    margin: 20px;
    width: calc(100% - 40px) !important;
    height: 490px !important;
  }

  .sidebar {
    width: 720px !important;
  }

  #player.left-side {    
    display: inline-block;
  }  
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: calc(100% - 40px) !important;
    margin-top: 20px;
  }
  .transcript {
    max-height: 150px;
  }
}

@media (min-width: 1168px) and (max-width: 1278px) {
  #player {
    width: 960px !important;
    height: 600px !important;
  }

  .sidebar {
    width: 960px !important;
  }  

  #player.left-side {    
    display: inline-block;
  }  
  .transcript-wrapper.right-side {
    margin-top: 20px;
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: 960px;
  }
  .transcript {
    max-height: 150px;
  }
}

@media (min-width: 1278px) and (max-width: 1440px) {
  #player {
    width: 1140px !important;
    height: 650px !important;
  }

  .sidebar {
    width: 1140px !important;
  }  

  #player.left-side {    
    display: inline-block;
  }  
  .transcript-wrapper.right-side {
    margin-top: 20px;
    display: inline-block;
    max-height: 150px;
    margin-bottom: 100px;
    width: 1140px;
  }
  .transcript {
    max-height: 150px;
  }
}

@media (min-width: 1440px) {
  #player.left-side {    
    margin-right: 50px;
    display: inline-block;
    width: 60% !important;
  }  
  .transcript-wrapper.right-side {
    display: inline-block;
    max-height: 540px;
    margin-bottom: 100px;
    width: 35%;
  }
  .transcript {
    max-height: 540px;
  }
  .player-container {
    padding-left: 160px;
    padding-right: 160px;
  }
}

.transcript {
  padding: 0px 20px;
  margin-bottom: 60px;
  overflow: auto;
}

.sidebar {
  /* width: 100% !important; */
  margin: auto !important;
  /* width: 1140px !important; */
  height: 260px;
  background-color: #7e7e7f;
  font-family: Arial, sans-serif;
  float: inherit !important;
}

.jw-media.jw-reset {
  background: black;
}

.sidebar h3 {
  padding: 20px;
  margin: 0;
  font-size: 14px;
  color: #fff;
  text-align: left;
}


.transcript-wrapper {
  display: none;
  /* overflow: auto; */
}

.tool-box {
  /* padding: 0px 20px; */
}

#search {
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all .3s;
  height: 32px;
  padding: 4px 11px;
  display: inline-block;
  margin-left: 10%;
  width: 40%;
  color: #d9d9d9;
  font-size: 14px;
  font-family: 'Raleway', 'Montserrat', sans-serif;
}

.tool-box select {
  border: 1px solid #d9d9d9;
  /* background-color: rgba(255, 255, 255, .5); */
  color: #d9d9d9;
  background-color: transparent;
  padding: 5px;
  width: 40%;
  border-radius: 4px;
}

.tool-box select option {
  background-color: transparent !important;
  border: 1px solid #e4e4e4;
  color: #000;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.transcript::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

.transcript::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.transcript::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.transcript p {
  font-size: 15px;
  overflow: hidden;
  text-align: left;
  color: #fff;
  line-height: 20px;
  margin-top: 0px;
}

.transcript span {
  display: block;
  padding: 3px 2px;
  cursor: pointer;
  color: #fff;
}

.transcript span.current {
  background: #00f096;
  color: #000;
}

.transcript span:hover {
  color: #00f096;
}

.transcript span em {
  font-style: normal;
  background: #666;
  color: #FFF;
}

.transcript span em.current {
  background: #ff0046;
}

.transcript h4 {
  margin: 25px 0 15px 0;
  text-align: left;
  color: #fff;
  font-weight: bold;
}

.caption-copy {
  max-width: 640px;
  margin: 20px auto;
  text-align: left;
  padding: 10px;
}

.caption-copy div,
.caption-copy ol,
.caption-copy li {
  text-align: left;
  font-size: 20px;
}

.caption-copy div {
  font-weight: 400;
  margin: 15px 0;
}

.caption-copy ol {
  margin-left: 15px;
  margin-top: 20px;
}

.caption-copy li {
  margin-bottom: 10px;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  /* IE */
  -webkit-appearance: slider-vertical;
  /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

#control-bar {
  position: absolute;
  z-index: 100;
  /* bottom: 0; */
  left: 160px;
  right: 160px;
  height: 58px;
  margin: 0 10px;
  background: url('http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/chrome.png') 0 0;
}


@media (max-width: 1168px) {
  #control-bar {
    left: 50px;
    right: 50px;
  }
}

#controls-left {
  left: 0;
  margin-left: -10px;
  background: url('http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/chrome.png') left -61px no-repeat;
  position: absolute;
  white-space: nowrap;
  padding: 13px 12px 0;
  height: 46px;
}

#controls-right {
  right: 0;
  margin-right: -10px;
  background: url('http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/chrome.png') right -123px no-repeat;
  position: absolute;
  white-space: nowrap;
  padding: 13px 12px 0;
  height: 46px;
}

#controls-middle {
  margin-left: 192px;
  margin-right: 185px;
  position: relative;
}

#control-bar button {
  border-width: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  color: black;
}

#controls-left>button,
#controls-right>button,
#controls-left>div,
#controls-right>div {
  float: left;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#playPauseButton,
#playStopButton {
  margin: 0;
}

#playPauseButton {
  cursor: pointer;
  background: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png") 0 -449px;
}

#playPauseButton.pause {
  background-position: 0px -381px;
}

#playPauseButton.play {
  background-position: 0px -449px;
}


#nextWordButton {
  transform: rotate(180deg) scaleY(-1);
  cursor: pointer;
  background-image: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png");
  background-color: transparent;
}
#nextWordButton.active {
  background-position: -0px -613px;
  opacity: 1;
}
#nextWordButton {
  background-position: -0px  -613px;
  opacity: 0.7;
}

#playSpeedButton {
  cursor: pointer;
  background: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png");
  width: 44px !important;
  height: 32px;
  padding: 11px 14px;
  font-size: 10px;
  background-position: -40px -892px;
}

#captionButton {
  cursor: default;
  background: url('http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png');
  height: 60px;
}

#captionButton.active {
  background-position: -128px -50px;
  cursor: pointer;
}

#captionButton.inactive {
  background-position: -96px -50px;
}

#full-screen {
  cursor: pointer;
  background: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png") 0 -743px;
}

#seek-bar {
  margin-top: 21px;
  height: 15px;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

#seek-bar:focus {
  outline: none;
}

#seek-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#seek-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

#seek-bar::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#seek-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
}

#seek-bar::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#seek-bar::-ms-fill-lower {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#seek-bar::-ms-fill-upper {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#seek-bar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 19px;
  border-radius: 4px;
  background: #CCCCCC;
  cursor: pointer;
}

.end-time {
  position: absolute;
  right: 0px;
  top: 35px;
  color: white;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}

.current-time {
  position: absolute;
  left: 0px;
  top: 35px;
  color: white;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}

#mute {
  cursor: pointer;
  background-image: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png");
  background-color: transparent;
  margin-right: auto;
}

#mute.active {
  background-position: 0px -773px;
}

#mute.in-active {
  background-position: 0px -805px;
}

#searchButton {
  float: right !important;
  cursor: pointer;
  background-image: url("http://webcast.jhu.edu/Mediasite/Play/Javascript/Players/NewStandardPlayer/buttons.png");
  background-color: transparent;
  margin-right: auto;
  background-position: 0px -710px;
}

#searchButton.active {
  background-position: -30px -710px;
}

#volume-bar {
  margin-top: 10px;
  height: 15px;
  -webkit-appearance: none;
  width: calc(100% - 42px);
  background: transparent;
}

#volume-bar:focus {
  outline: none;
}

#volume-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#volume-bar::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

#volume-bar::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #404040;
  border-radius: 0px;
  border: 0px solid #404040;
}

#volume-bar::-moz-range-thumb {
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
}

#volume-bar::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

#volume-bar::-ms-fill-lower {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#volume-bar::-ms-fill-upper {
  border: 0px solid #404040;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #404040;
}

#volume-bar::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #CCCCCC;
  border: 0px solid #ADADAD;
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background: #CCCCCC;
  cursor: pointer;
}

.keyword_wrapper {
  position: absolute;
  /* transform: translateY(-100%); */
  width: 100%;
  background: transparent;
  display: flex;
  flex-flow: row wrap;
}

.keyword_wrapper .col-25 {
  width: 25%;
  display: inline-block;
  /* background: #fff; */
  color: white;
}

.keyword_wrapper .col-75 {
  width: 75%;
  display: inline-block;
}

.keyword_wrapper ul {
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 15px 20px;
}

.keyword_wrapper li {
  float: left;
  /* width: 25%; */
}

.keyword_wrapper .link {
  cursor: pointer;
  color: #1890ff;
}

.svg-wrapper {
  margin-top: -30px;
}
.svg {
  display: inline-block;
  position: absolute;
  cursor: pointer;
}

.caption {
  z-index: -100;
}

.caption-time {
  display: inline-block !important;
  width: 20%;
  vertical-align: top;
  pointer-events: none;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}
.caption-time i {
  font-size: 14px;
  /* font-family: 'Roboto', sans-serif; */
  font-size: .9em;
}
.caption-dot {
  display: inline-block !important;
  border-color: #1890ff !important;
  color: #1890ff !important;
  width: 3px;
  height: 3px;
  vertical-align: top;
  margin-top: 10px;
  padding: 0px !important;
  background-color: #fff !important;
  border-radius: 3px;
  border: 2px solid transparent;
  margin-right: 2px;
}
.caption-text {
  display: inline-block !important;
  width: 75%;
  pointer-events: none;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}

.listing__keywords-of-topic {
  list-style: none;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 15px 20px;
}

.listing__keywords-of-topic li {
  float: left;
  width: 25%;
}
.listing__keywords-of-topic a {
  color : white;
  text-decoration:  none;
  cursor: pointer;
  font-family: 'Raleway', 'Montserrat', sans-serif;
  font-size: 14px;
}
.keyword-wrapper {  
  position: absolute;
  transform: translateY(-100%);
  padding-bottom: 10px;
  width: inherit;
  text-align: left;
  background: #000;
  border-top: solid 1px gray;
}
.keyword-wrapper.hide {  
  display: none;
}
#toggleSearch {  
  height: 32px;
  padding: 4px 11px;
  width: 40%;
  border-color: white;
  background: transparent;
  color: white;
  border: solid 1px;
  border-radius: 5px;
  /* font-family: serif; */
  cursor: pointer;
  font-size: 14px;
  font-family: 'Raleway', 'Montserrat', sans-serif;
}
#toggleSearch.active {
  color: #337ABB;
}
